
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@800&family=Noto+Sans:ital,wght@0,392;1,392&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Doto", serif;
}

body{
  background-color: black;
}


